/* =========================
   RESET GENERAL
========================= */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Segoe UI',sans-serif;
  background:#f8fafc;
}

/* =========================
   LOGIN Y REGISTRO
========================= */

.page-login,
.page-register{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(
      135deg,
      #0f766e,
      #14b8a6
  );
}

.form-container{
  width:380px;
  background:white;
  border-radius:18px;
  padding:30px;
  box-shadow:0 15px 40px rgba(0,0,0,.15);
}

.title{
  text-align:center;
  color:#0f766e;
  font-size:32px;
  margin-bottom:25px;
}

.form{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.input{
  padding:14px;
  border:1px solid #cbd5e1;
  border-radius:12px;
  font-size:15px;
}

.input:focus{
  border-color:#14b8a6;
  outline:none;
}

.form-btn{
  background:#0f766e;
  color:white;
  border:none;
  padding:14px;
  border-radius:12px;
  cursor:pointer;
  font-weight:bold;
}

.form-btn:hover{
  background:#115e59;
}

/* =========================
   LANDING PAGE
========================= */

.header{
  background:#0f766e;
  color:white;
  padding:20px;
  text-align:center;
}

.hero{
  min-height:80vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:30px;
  color:white;

  background:linear-gradient(
      135deg,
      #0f766e,
      #14b8a6
  );
}

.hero h2{
  font-size:48px;
  margin-bottom:15px;
}

.hero p{
  max-width:700px;
  font-size:18px;
  margin-bottom:25px;
}

.buttons{
  display:flex;
  gap:15px;
}

.btn{
  padding:14px 22px;
  border-radius:12px;
  text-decoration:none;
  font-weight:bold;
  transition:.3s;
}

.btn:hover{
  transform:translateY(-3px);
}

.btn{
  background:white;
  color:#0f766e;
}

.btn-secondary{
  background:transparent;
  border:2px solid white;
  color:white;
}

/* =========================
   DASHBOARD
========================= */

.page-dashboard{
  background:#ecfeff;
}

.dashboard{
  display:flex;
  min-height:100vh;
}

.sidebar{
  width:240px;
  background:linear-gradient(
      180deg,
      #0f766e,
      #115e59
  );
  color:white;
  padding:25px;
}

.logo-principal{
    width: 110px;
    height: 110px;
    display: block;
    margin: 0 auto 20px auto;
    object-fit: cover;

    border-radius: 50%;
    background: rgba(255,255,255,.15);
    padding: 8px;

    box-shadow: 0 5px 20px rgba(0,0,0,.25);
 margin-bottom:25px;
}


.sidebar h2{
  text-align:center;
  margin-bottom:25px;
}

.sidebar ul{
  list-style:none;
}

.sidebar li{
  margin:12px 0;
}

.sidebar a{
  color:white;
  text-decoration:none;
  display:block;
  padding:10px;
  border-radius:8px;
}

.sidebar a:hover{
  background:rgba(255,255,255,.1);
}

.main-content{
  flex:1;
  padding:30px;
}

.main-content h1{
  color:#134e4a;
  margin-bottom:20px;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(220px, 1fr));
  gap:25px;
  margin-bottom:35px;
}

.card{
  background:white;
  border-radius:20px;
  padding:20px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,.08);
  transition:all .4s ease;
  overflow:hidden;
  position:relative;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 20px 40px rgba(15,118,110,.25);
}

.card::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:5px;
  background:linear-gradient(
    90deg,
    #0f766e,
    #14b8a6
  );
}
.card-img{
  width:120px;
  height:120px;
  object-fit:cover;
  border-radius:15px;
  margin:10px auto 15px;
  display:block;
  transition:all .4s ease;
}

.card:hover .card-img{
  transform:scale(1.08);
}
.card p{
  color:#0f766e;
  font-size:18px;
  font-weight:700;
  margin-top:10px;
}

.card h3{
  color:#0f766e;
  font-size:32px;
}

.crud-container{
  background:white;
  padding:25px;
  border-radius:15px;
  box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.crud-form{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
}

.crud-form input{
  flex:1;
  min-width:200px;
  padding:12px;
  border:1px solid #cbd5e1;
  border-radius:10px;
}

#agregar{
  background:#0f766e;
  color:white;
  border:none;
  padding:12px 20px;
  border-radius:10px;
  cursor:pointer;
}

#lista p{
  background:#f0fdfa;
  padding:12px;
  margin-top:10px;
  border-radius:10px;
  display:flex;
  justify-content:space-between;
}

#lista button{
  background:#ef4444;
  color:white;
  border:none;
  padding:8px 12px;
  border-radius:8px;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width:768px){

  .dashboard{
    flex-direction:column;
  }

  .sidebar{
    width:100%;
  }

  .cards{
    justify-content:center;
  }

  .hero h2{
    font-size:34px;
  }

  .form-container{
    width:90%;
  }
}
/* =========================
   DASHBOARD ESTADÍSTICO
========================= */

.graficos-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(450px,1fr));
    gap:25px;
    margin-top:30px;
}

.grafico-card{
    background:white;
    border-radius:20px;
    padding:25px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.grafico-card:hover{
    transform:translateY(-5px);
}

.grafico-card h2{
    text-align:center;
    color:#0f766e;
    margin-bottom:20px;
}

canvas{
    max-height:350px;
}